<%- include("templates/header.ejs") %>
Hello!
<br>
<form action='/login'><button>Login</button></form>
<br>
<form action='/signup'><button>Create Account</button></form>
<%- include("templates/footer.ejs") %>