<%- include("templates/header.ejs") %>
Hello, <%=username%>
<form action='/members'><button>Go to Members Area</button></form>
<form action='/logout'><button>Logout</button></form>

<%- include("templates/footer.ejs") %>