<%- include("templates/header.ejs") %>

<div class="text-center">
  <h1>Hello, <%=username%></h1><br>
  <img class="img-fluid" src="<%=pic%>" alt="duck?"></img><br>
  <form action='/logout'><button class="btn btn-danger">Logout</button></form>
</div>
<%- include("templates/footer.ejs") %>f