<%- include("templates/header.ejs") %>
<!-- <form action="/signupSubmit" method='post'>
  <input type='text' name='username' placeholder='name'><br>
  <input type='email' name='email' placeholder='email'><br>
  <input type='password' name='password' placeholder='password'><br><button>Submit</button>
</form> -->

<div class="container-fluid">
  <form action='/signupSubmit' method='post'>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1">
        
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("templates/footer.ejs") %>