<%- include("templates/header.ejs") %>
<form action="/signupSubmit" method='post'>
  <input type='text' name='username' placeholder='name'><br>
  <input type='email' name='email' placeholder='email'><br>
  <input type='password' name='password' placeholder='password'><br><button>Submit</button>
</form>
<%- include("templates/footer.ejs") %>